
section{
    margin: auto;
    text-align: center;
    vertical-align: middle;   
}
#my_self{
    border-radius: 50%;
    box-shadow: rgba(190, 200, 200,0.9) 0px 0px 10px;
    width: 300px;
    height: 300px;
}
.figura{
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    width: auto;
    vertical-align: middle;
}
#my_self:hover{
    transform: scale(1.1);
    border-radius: 10%;
}
.presentacion{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    font-style: italic;
}
p{
    text-align: justify;
    margin: 5px;
}
.resumen{
    text-align: center;
}
.resumen article{
    background-color: rgb(211, 193, 36);
    color: black;
    display: inline-block;
    text-align: center;
    margin: 10px;
    border: 3px solid;
    width: auto;
}
.resumen article:hover{
    background-color: rgb(115, 211, 36);
}
.icono-recuadro{
    margin: 10px auto;
    width: 100px;
}
