.reloj_digital{
    margin: 0px auto;
    width: 80%;
    text-align: center;
}
.fecha, .hora_completa{
    background-color: rgba(0,0,0,0.5);
    border-radius: 2px 10px;
}
.hora_completa{
    font-size: 2.5rem;  
}
.linea_segundos{
    font-size: 1.5rem;
}
.hora_completa .linea_hora,
.hora_completa .linea_segundos{
    display: inline-block;
    vertical-align: middle;
    line-height: 0.6rem;
}